<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="col-lg-10">
    <h2>Login</h2>
    <form action="" class="form-group" style="position: center; padding-top:100px; margin-left: 400px">
        <p>Потребителско име: </p><input type="text" class="form-control">
        <br>
        <p>Парола:</p><input type="password" class="form-control">
        <br>
        <br>
        <br>
        <button class="btn btn-primary">Вход</button>
    </form>
</div>
</body>
</html>