<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация на потребител</h2>
<div class="col-lg-4">
    <form action="" class="form-group">
        <p>Потребителско име</p>
        <input type="text" class="form-control">
        <p>Парола</p>
        <input type="password" class="form-control">
        <p>Повтаряне на паролата</p>
        <input type="password" class="form-control">
        <p>Email</p><input type="email" class="form-control">
        <br>
        <button class="btn-primary">Регистрация</button>
    </form>
</div>
</body>
</html>